@font-face {
  font-family: 'Roboto';
  src: local('funtes/Roboto-Regular.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header, footer {
  background-color: #557e7c;
  color: #ebebd3;
  padding: 1em;
  position: relative;
}

header::after {
  clear: both;
  content: '';
  display: block;
}

#logo {
  float: left;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  width: 70%;
}

#logo span {
  font-weight: 700;
}
footer{
  padding: 2em;
}
footer span{
  display: inline-block;
  margin: 0 .15em 1em;
}
footer a {
  color: rgb(174, 243, 104);
  display: inline-block;
  font-size: 20px;
  margin-left: 4.5em;
  text-decoration: none;
}
footer a:hover {
  color: rgb(151, 5, 5);
}
/*          Textos          */

h2 {
  padding: 25px 0;
  text-align: center;
}

span{
  font-size: 20px;
}

/*          Juego          */
main {
  background-color: midnightblue;
}

#jugada h2,
#jugada span,
#opciones h2,
#puntaje h2,
#puntaje h3,
#puntaje span{
  color: rgb(209, 255, 149);
  display: block;
  text-align: center;
  width: 100%;
}
#puntaje article{
  display: inline-block;
  margin-left: 5em;
  margin-right: 1em;
}

.usuario{
  display: inline-block;
  margin-left:3em;
}
.IA{
  display: inline-block;
  margin-left:1.5em;
}
#opciones img{
  cursor: pointer;
  margin: 0 0 2em 2em;
  width: 20%;
}
#opciones img:active {
  box-shadow: 2px 2px 10px 5px #ebebd3;
}
/*          Pantallas mayores a 500px          */
@media (min-width: 500px){
  footer{
    padding: 1em;
    text-align: center;
  }
  footer span {
    margin: 0;
    padding: 0;
  }
  footer a {
    margin: 0;
    margin-left: 1em;
    padding: 0;
  }
  #puntaje article{
    margin-left: 27%;
    margin-right: 8.5%;
  }
  .usuario{
    margin-left: 25%;
  }
  .IA{
    margin-left: 30%;
  }
  #opciones img{
  margin: 0 0 2em 15em;
  width: 10%;
}
}