/******************************/
/*          Variables         */
/******************************/
/*            Fonts           */
@font-face {
  font-family: "Karla";
  src: url("../fuentes/Karla-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: url("../fuentes/Rubik-Regular.ttf") format("truetype");
}
/*           Colors           */
/*           Querys           */
/******************************/
/*           Mixins           */
/******************************/
/******************************/
/*          Functions         */
/******************************/
/******************************/
/*           Globals          */
/******************************/
* {
  box-sizing: border-box;
  color: #000;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

/******************************/
/*            Texts           */
/******************************/
/*           Headers          */
h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 29.6px;
}

h3 {
  font-size: 26.88px;
}

h4 {
  font-size: 24.16px;
}

h5 {
  font-size: 21.44px;
}

h6 {
  font-size: 18.72px;
}

/******************************/
/*           Alerts           */
/******************************/
/******************************/
/*           Header           */
/******************************/
.header {
  align-items: center;
  background-color: #4f71d3;
  cursor: default;
  display: flex;
  height: 6rem;
  justify-content: center;
  width: 100%;
}
.header--titulo {
  color: #ffa733;
  width: 80%;
  margin-right: 10%;
  text-shadow: 1px 1px 2px #bfbfbf;
}
.header--hamburger {
  cursor: pointer;
  position: absolute;
  top: 9%;
  transform: translate(-50%, -50%);
  right: 0.5%;
  width: 32px;
}
.header--hamburger span {
  background: #bfbfbf;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 #3f3f3f;
  display: block;
  height: 4px;
  position: relative;
  transition: all 0.3s;
  width: 100%;
}
.header--hamburger span + span {
  margin-top: 8px;
}
.header--hamburger.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}
.header--hamburger.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}
.header--hamburger.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}
.header--hamburger.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}
.header--hamburger.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}
.header--hamburger.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}
@media (min-width: 768px) {
  .header--hamburger {
    display: none;
  }
}
.header--menu {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: -6rem;
}
.header--menu.not-active {
  animation: ease 0.7s menu-not-active forwards;
}
.header--menu.active {
  animation: ease 0.7s menu-active forwards;
}
.header--menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.header--menu li {
  align-items: center;
  background-color: rgba(255, 167, 51, 0.8);
  display: flex;
  height: 3rem;
  justify-content: center;
}
.header--menu img {
  width: 1.7rem;
}
.header--menu a {
  border-radius: 1rem;
  color: #3f3f3f;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 1%;
}
.header--menu a:hover {
  padding: 0 1rem;
  border: 1px solid #3f3f3f;
}
@media (min-width: 768px) {
  .header--menu {
    display: flex;
  }
}

/******************************/
/*            Main            */
/******************************/
main {
  background-color: #65ebac;
  display: flex;
  flex-direction: column;
}
main img {
  width: 40%;
}

.juego,
.jugada,
.puntaje {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
  margin: 1rem 0;
}
.juego--titulo,
.jugada--titulo,
.puntaje--titulo {
  height: 2.5rem;
  width: 100%;
}
.juego--usuario, .juego--ia,
.jugada--usuario,
.jugada--ia,
.puntaje--usuario,
.puntaje--ia {
  width: 50%;
}

.jugada {
  height: 50%;
  margin-top: 0.9rem;
}
.jugada img {
  height: auto;
  width: 20%;
}

.puntaje span {
  font-size: 2rem;
}

.loader {
  border: 10px solid #4f71d3;
  border-radius: 50%;
  border-top: 10px solid #ffa733;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/******************************/
/*           Footer           */
/******************************/
.footer {
  display: flex;
  flex-direction: column;
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4f71d3;
  cursor: default;
}
.footer--span {
  color: #e5e5e5;
}
.footer--a {
  padding: 0 1rem;
  background-color: rgba(25, 25, 25, 0.2);
  border-radius: 10px;
  color: #ffa733;
}
.footer--a:hover {
  border-radius: 40px;
  font-size: 2rem;
}

/******************************/
/*         Animations         */
/******************************/
/*         Boton Menu         */
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 13px;
    transform: rotate(0);
  }
  100% {
    top: 13px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 11px;
    transform: rotate(0);
  }
  100% {
    bottom: 11px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menu-active {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2.4rem);
  }
  40% {
    transform: translateY(4.8rem);
  }
  60% {
    transform: translateY(7.2rem);
  }
  80% {
    transform: translateY(9.6rem);
  }
  100% {
    transform: translateY(12rem);
  }
}
@keyframes menu-not-active {
  0% {
    transform: translateY(12rem);
  }
  20% {
    transform: translateY(9.6rem);
  }
  40% {
    transform: translateY(7.2rem);
  }
  60% {
    transform: translateY(4.8rem);
  }
  80% {
    transform: translateY(2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
