/******************************/
/*           Footer           */
/******************************/
.footer {
  display: flex;
  flex-direction: column;
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $Color-secondary;
  cursor: default;
  &--span {
    color: $Color-lightherGrey;
  }
  &--a {
    padding: 0 1rem;
    background-color: rgba($Color-darkerGrey, 0.2);
    border-radius: 10px;
    color: $Color-tertiary;
  }
  &--a:hover {
    border-radius: 40px;
    font-size: 2rem;
  }
}
