/******************************/
/*           Header           */
/******************************/
.header {
  align-items: center;
  background-color: $Color-secondary;
  cursor: default;
  display: flex;
  height: 6rem;
  justify-content: center;
  padding: 0 15% 0 1%;
  width: 100%;
  &--titulo {
    color: $Color-tertiary;
    width: 100%;
    text-shadow: 1px 1px 2px $Color-lightGrey;
  }
  &--hamburger {
    cursor: pointer;
    position: absolute;
    top: 9%;
    transform: translate(-50%, -50%);
    right: 0.5%;
    width: 32px;
    & span {
      background: $Color-lightGrey;
      border-radius: 3px;
      box-shadow: 0 2px 10px 0 $Color-darkGrey;
      display: block;
      height: 4px;
      position: relative;
      transition: all 0.3s;
      width: 100%;
    }
    & span + span {
      margin-top: 8px;
    }
    &.active {
      span:nth-child(1) {
        animation: ease 0.7s top forwards;
      }
      span:nth-child(2) {
        animation: ease 0.7s scaled forwards;
      }
      span:nth-child(3) {
        animation: ease 0.7s bottom forwards;
      }
    }
    &.not-active {
      span:nth-child(1) {
        animation: ease 0.7s top-2 forwards;
      }
      span:nth-child(2) {
        animation: ease 0.7s scaled-2 forwards;
      }
      span:nth-child(3) {
        animation: ease 0.7s bottom-2 forwards;
      }
    }
    @include media(m) {
      display: none;
    }
  }
  &--menu {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: -6rem;
    &.not-active {
      animation: ease 0.7s menu-not-active forwards;
    }
    &.active {
      animation: ease 0.7s menu-active forwards;
    }
    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    & li {
      align-items: center;
      background-color: rgba($Color-tertiary, $alpha: 0.8);
      display: flex;
      height: 3rem;
      justify-content: center;
    }
    & img {
      width: 1.7rem;
    }
    & a {
      border-radius: 1rem;
      color: $Color-darkGrey;
      font-size: 1.5rem;
      font-weight: 800;
      margin-left: 1%;
    }
    & a:hover {
      padding: 0 1rem;
      border: 1px solid $Color-darkGrey;
    }
    @include media(m) {
      display: flex;
    }
  }
}
