/******************************/
/*            Main            */
/******************************/
main {
  background-color: $Color-primary;
  display: flex;
  flex-direction: column;
  & img {
    width: 40%;
  }
}
.puntaje,
.juego,
.jugada {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
  margin: 1rem 0;
  &--titulo {
    height: 2.5rem;
    width: 100%;
  }
  &--usuario,
  &--ia {
    width: 50%;
  }
}
.jugada {
  height: 50%;
  margin-top: 0.9rem;
  img {
    height: auto;
    width: 20%;
  }
}
